Source: nodogsplash
Section: net
Priority: optional
Maintainer: Paul Kube <nodogsplash@kokoro.ucsd.edu>

Package: nodogsplash
Architecture: any
Depends: iptables, modutils, grep, mawk | awk
Provides: libhttpd
Description: The Nodogsplash client
 The Nodogsplash project is a very simple embeddable captive portal
 solution for wireless community groups or individuals who wish to open
 a free HotSpot while still preventing abuse of their Internet connection.
 It is based on the Wifi Dog project.
