[Unit]
Description=NoDogSplash Captive Portal
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/nodogsplash $OPTIONS
Restart=on-failure

[Install]
WantedBy=multi-user.target
